
<div class="wrapper">
    <div class="header-container">
        <div class="header_item_message">
            <a class="icon iconfont icon-message" href="../../login.html"></a>
        </div>
        <div class="header_item_update" >今日头条
            <i class="icon iconfont icon-Updatereset" ></i>
        </div>
        <div class="header_item_search">
            <a href="../../search.html" class="icon iconfont icon-search"></a>
        </div>
    </div>

    <div class="home_news_nav">
        <ul>
            <li>
                <a path="#/recomment" href ="#/recomment" class="active">推荐</a>
            </li>
            <li>
                <a path="#/video" href="#/video">视频</a>
            </li>
            <li>
                <a path="#/hot" href="#/hot">热点</a>
            </li>
            <li>
                <a>娱乐</a>
            </li>
            <li>
                <a>军事</a>
            </li>
            <li>
                <a>科技</a>
            </li>
            <li>
                <a>汽车</a>
            </li>
            <li>
                <a>体育</a>
            </li>
        </ul>
    </div>
    <div class="home_news_update">
        为您推荐了9条新消息
    </div>
        
    <main style="-webkit-margin-after-collapse: separate;-webkit-margin-before-collapse: discard;"></main>
        
    




    <div class="loading"></div> 

</div>