<div>

        <div class="scroll-info--top scroll-info go-refresh">
            <i class="iconfont icon-arrowsdown"></i>
            <i class="iconfont icon-loading"></i>
            <span class="scroll-info__title"></span>
        </div>
    
        <div class="constom-info">
            <span class="constom-info__text"></span>
            <span class="constom-info__btn--login"></span>
        </div>
    
        <div class="job-content"></div>
    
        <div class="scroll-info--bottom scroll-info">
            <i class="iconfont icon-loading"></i>
            <span class="scroll-info__title">上拉加载更多</span>
        </div>
    
    
    
    </div>